extends /_layout/_default-layout

include /_mixin/_person-relation

prepend config-block
  - rootPath = "../../"
  - path = 'person/people/'

append config-block
  - title = '関連人物'

prepend relation-link
  +person-relation

mixin people(profileLi)
  - const { name, nameSub, sex, facebookId, picture, relation, description, href, web, facebook, mixi, twitter, kayac, wikipedia } = profileLi;

  if picture
    - pictureUrl = `${imgPath}picture/${picture}`
  else
    if facebookId
      - pictureUrl = `https://graph.facebook.com/${facebookId}/picture?width=512&height=512`
    else if sex == 'female'
      - pictureUrl = `${imgPath}picture/female.png`
    else
      - pictureUrl = `${imgPath}picture/male.png`

  .card.mdl-card.mdl-shadow--2dp
    .face.mdl-card__title(style= `background-image: url(${pictureUrl})`)
      if name || nameSub
        h5.mdl-card__title-text
          if name && nameSub
            != `${name}<br>${nameSub}`
          else if nameSub
            != nameSub
          else
            != name
    if relation
      .relation.mdl-card__supporting-text= relation
    if description
      .description.mdl-card__supporting-text!= description
    if web || facebook || mixi || twitter || kayac || wikipedia
      .list-link.mdl-card__actions.mdl-card--border
        each url, key in { web, facebook, mixi, twitter, kayac, wikipedia }
          if url
            a.item-link.mdl-button.mdl-button--colored.mdl-js-button.mdl-js-ripple-effect(href= url, target="_blank")
              if key === 'wikipedia'
                i.mdi.mdi-wikipedia
              else if key === 'facebook'
                i.mdi.mdi-facebook-box
              else if key === 'twitter'
                i.mdi.mdi-twitter-box
              else if key === 'mixi'
                img(src='icon_mx_s.png')
              else if key === 'kayac'
                img(src='kayac_icon.gif')
              else
                i.material-icons web

block content-block
  +page-title
    | 岩淵 勇樹  の関連人物

  .inner-block
    each group, groupName in people
      section
        +heading(4)
          = groupName

        .list
          each person in group
            .item
              +people(person)
