extends ../../../_layout/_default-layout

append config-block
  - pageId = 'org--kep--as-graph'
  - title = 'e-Leaning数学教材向けグラフ描画プログラム'
  - rootPath = '../../../'
  - path = 'org/kep/as-graph/'
  - dataPath = `${rootPath}data/${path}`
  - swfPath = `${rootPath}swf/${path}`

//- append stylesheet-block

//- append javascript-block

block content-block
  h3.btc-heading(data-heading-level="3")
    = title

  .inner-block
    h4.btc-heading(data-heading-level="4") 概要

    p e-Leaningの数学教材として開発したグラフ描画プログラムです。

    p 開発環境はFlash 8、開発言語はActionScript 2.0です。

    p
      | これらのプログラムは
      a(href='http://www.kepnet.co.jp/', target='_blank') 金沢電子出版株式会社
      | の協力によって制作されました。

    section
      h5.btc-heading(data-heading-level="5")
        | sinのグラフ

      object#sin(classid='clsid:d27cdb6e-ae6d-11cf-96b8-444553540000', codebase='http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=10,0,0,0', width='610', height='377', align='middle')
        param(name='allowScriptAccess', value='sameDomain')
        param(name='allowFullScreen', value='false')
        param(name='movie', value='sin.swf')
        param(name='quality', value='high')
        param(name='bgcolor', value='#ffffff')
        embed(src= `${swfPath}sin.swf`, quality='high', bgcolor='#ffffff', width='610', height='377', name='sin', align='middle', allowscriptaccess='sameDomain', allowfullscreen='false', type='application/x-shockwave-flash', pluginspage='http://www.adobe.com/go/getflashplayer_jp')

      p
        a(href= `${dataPath}sin.fla`) flaファイル
        a(href= `${swfPath}sin.swf`) swfファイル

    section
      h5.btc-heading(data-heading-level="5")
        | リサージュ曲線

      object#12(classid='clsid:d27cdb6e-ae6d-11cf-96b8-444553540000', codebase='http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=10,0,0,0', width='610', height='377', align='middle')
        param(name='allowScriptAccess', value='sameDomain')
        param(name='allowFullScreen', value='false')
        param(name='movie', value='12.swf')
        param(name='quality', value='high')
        param(name='bgcolor', value='#ffffff')
        embed(src= `${swfPath}12.swf`, quality='high', bgcolor='#ffffff', width='610', height='377', name='12', align='middle', allowscriptaccess='sameDomain', allowfullscreen='false', type='application/x-shockwave-flash', pluginspage='http://www.adobe.com/go/getflashplayer_jp')

      p
        a(href= `${dataPath}12.fla`) flaファイル
        a(href= `${swfPath}12.swf`) swfファイル

    section
      h5.btc-heading(data-heading-level="5")
        | sinとcosのグラフ

      object#b103(classid='clsid:d27cdb6e-ae6d-11cf-96b8-444553540000', codebase='http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=10,0,0,0', width='610', height='377', align='middle')
        param(name='allowScriptAccess', value='sameDomain')
        param(name='allowFullScreen', value='false')
        param(name='movie', value='b103.swf')
        param(name='quality', value='high')
        param(name='bgcolor', value='#ffffff')
        embed(src=`${swfPath}b103.swf`, quality='high', bgcolor='#ffffff', width='610', height='377', name='b103', align='middle', allowscriptaccess='sameDomain', allowfullscreen='false', type='application/x-shockwave-flash', pluginspage='http://www.adobe.com/go/getflashplayer_jp')
      p
        a(href= `${dataPath}b103.fla`) flaファイル
        a(href= `${swfPath}b103.swf`) swfファイル
        a(href= `${dataPath}myclass103.as`) 読み込みasファイル

    section
      h5.btc-heading(data-heading-level="5")
        | 微分
      object#diff(classid='clsid:d27cdb6e-ae6d-11cf-96b8-444553540000', codebase='http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=10,0,0,0', width='610', height='377', align='middle')
        param(name='allowScriptAccess', value='sameDomain')
        param(name='allowFullScreen', value='false')
        param(name='movie', value='diff.swf')
        param(name='quality', value='high')
        param(name='bgcolor', value='#ffffff')
        embed(src= `${swfPath}diff.swf`, quality='high', bgcolor='#ffffff', width='610', height='377', name='diff', align='middle', allowscriptaccess='sameDomain', allowfullscreen='false', type='application/x-shockwave-flash', pluginspage='http://www.adobe.com/go/getflashplayer_jp')
      p
        a(href= `${dataPath}diff.fla`) flaファイル
        a(href= `${swfPath}diff.swf`) swfファイル
        a(href= `${dataPath}myclass102.as`) 読み込みasファイル

    section
      h5.btc-heading(data-heading-level="5")
        | 積分

      object#integral(classid='clsid:d27cdb6e-ae6d-11cf-96b8-444553540000', codebase='http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=10,0,0,0', width='610', height='377', align='middle')
        param(name='allowScriptAccess', value='sameDomain')
        param(name='allowFullScreen', value='false')
        param(name='movie', value='integral.swf')
        param(name='quality', value='high')
        param(name='bgcolor', value='#ffffff')
        embed(src= `${swfPath}integral.swf`, quality='high', bgcolor='#ffffff', width='610', height='377', name='integral', align='middle', allowscriptaccess='sameDomain', allowfullscreen='false', type='application/x-shockwave-flash', pluginspage='http://www.adobe.com/go/getflashplayer_jp')
      p
        a(href= `${dataPath}integral.fla`) flaファイル
        a(href= `${swfPath}integral.swf`) swfファイル
        a(href= `${dataPath}myclass102.as`) 読み込みasファイル
