extends /_layout/_default-layout

mixin card-media(fileName)
  .mdl-card__media
    object(id= fileName, classid='clsid:d27cdb6e-ae6d-11cf-96b8-444553540000', codebase='http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=10,0,0,0', width='610', height='377', align='middle')
      param(name='allowScriptAccess', value='sameDomain')
      param(name='allowFullScreen', value='false')
      param(name='movie', value= `${fileName}.swf`)
      param(name='quality', value='high')
      param(name='bgcolor', value='#ffffff')
      embed(src= `${swfPath}${fileName}.swf`, quality='high', bgcolor='#ffffff', width='610', height='377', name= fileName, align='middle', allowscriptaccess='sameDomain', allowfullscreen='false', type='application/x-shockwave-flash', pluginspage='http://www.adobe.com/go/getflashplayer_jp')

mixin card-link(file, type= 'data', title= null)
  if type === 'swf'
    - filePath= swfPath
  else
    - filePath= dataPath
  a.mdl-button.mdl-button--colored.mdl-js-button.mdl-js-ripple-effect(href= `${filePath}${file}`)
    i.material-icons file_download
    if title
      = title


append config-block
  - pageId = 'org--kep--as-graph'
  - title = 'e-Leaning数学教材向けグラフ描画プログラム'

//- append stylesheet-block

//- append javascript-block

block content-block
  h3.btc-heading(data-heading-level="3")
    = title

  .inner-block
    h4.btc-heading(data-heading-level="4") 概要

    p e-Leaningの数学教材として開発したグラフ描画プログラムです。

    p 開発環境はFlash 8、開発言語はActionScript 2.0です。

    p
      | これらのプログラムは
      a(href='http://www.kepnet.co.jp/', target='_blank') 金沢電子出版株式会社
      | の協力によって制作されました。

    section
      .card.mdl-card.mdl-shadow--2dp
        h5.mdl-card__title
          | sinのグラフ

        +card-media('sin')

        .mdl-card__actions.mdl-card--border
          +card-link('sin.fla', 'data', 'flaファイル')
          +card-link('sin.swf', 'swf','swfファイル')

    section
      .card.mdl-card.mdl-shadow--2dp
        h5.mdl-card__title
          | リサージュ曲線

        +card-media('lissajous')

        .mdl-card__actions.mdl-card--border
          +card-link('lissajous.fla', 'data', 'flaファイル')
          +card-link('lissajous.swf', 'swf', 'swfファイル')

    section
      .card.mdl-card.mdl-shadow--2dp
        h5.mdl-card__title
          | sinとcosのグラフ

        +card-media('b103')

        .mdl-card__actions.mdl-card--border
          +card-link('b103.fla', 'data', 'flaファイル')
          +card-link('b103.swf', 'swf', 'swfファイル')
          +card-link('myclass103.as', 'data', '読み込みasファイル')

    section
      .card.mdl-card.mdl-shadow--2dp
        h5.mdl-card__title
          | 微分

        +card-media('diff')

        .mdl-card__actions.mdl-card--border
          +card-link('diff.fla', 'data', 'flaファイル')
          +card-link('diff.swf', 'swf', 'swfファイル')
          +card-link('myclass102.as', 'data', '読み込みasファイル')

    section
      .card.mdl-card.mdl-shadow--2dp
        h5.mdl-card__title
          | 積分

        +card-media('integral')

        .mdl-card__actions.mdl-card--border
          +card-link('integral.fla', 'data', 'flaファイル')
          +card-link('integral.swf', 'swf', 'swfファイル')
          +card-link('myclass102.as', 'data', '読み込みasファイル')
