extends /_layout/_default-layout

append config-block
  - pageId = 'project--hanjukugo'
  - title = '半熟語'
  - rootPath = '../../'
  - path = 'project/hanjukugo/'
  - imgPath = `${rootPath}img/${path}`

block content-block
  h3.btc-heading(data-heading-level="3")
    = title

  .inner-block
    h4 岩淵勇樹「半熟語」
    p
      img(alt="半熟語ロゴ", src= `${imgPath}logo.png`)
      img(alt="半熟語QRコード", src= `${imgPath}qr_top.png`)
    p
      a(href="readme/") 概要
    h5 二字熟語
    ul
      li
        | 01 
        a(href= `${imgPath}01_l.png`) 左
        |  
        a(href= `${imgPath}01_r.png`) 右
        |  
        a(href= `${imgPath}01_all.png`) 熟語
      li
        | 02 
        a(href= `${imgPath}02_l.png`) 左
        |  
        a(href= `${imgPath}02_r.png`) 右
        |  
        a(href= `${imgPath}02_all.png`) 熟語
      li
        | 03 
        a(href= `${imgPath}03_l.png`) 左
        |  
        a(href= `${imgPath}03_r.png`) 右
        |  
        a(href= `${imgPath}03_all.png`) 熟語
      li
        | 04 
        a(href= `${imgPath}04_l.png`) 左
        |  
        a(href= `${imgPath}04_r.png`) 右
        |  
        a(href= `${imgPath}04_all.png`) 熟語
      li
        | 05 
        a(href= `${imgPath}05_l.png`) 左
        |  
        a(href= `${imgPath}05_r.png`) 右
        |  
        a(href= `${imgPath}05_all.png`) 熟語
      li
        | 06 
        a(href= `${imgPath}06_l.png`) 左
        |  
        a(href= `${imgPath}06_r.png`) 右
        |  
        a(href= `${imgPath}06_all.png`) 熟語
      li
        | 07 
        a(href= `${imgPath}07_l.png`) 左
        |  
        a(href= `${imgPath}07_r.png`) 右
        |  
        a(href= `${imgPath}07_all.png`) 熟語
      li
        | 08 
        a(href= `${imgPath}08_l.png`) 左
        |  
        a(href= `${imgPath}08_r.png`) 右
        |  
        a(href= `${imgPath}08_all.png`) 熟語
      li
        | 09 
        a(href= `${imgPath}09_l.png`) 左
        |  
        a(href= `${imgPath}09_r.png`) 右
        |  
        a(href= `${imgPath}09_all.png`) 熟語
      li
        | 10 
        a(href= `${imgPath}10_l.png`) 左
        |  
        a(href= `${imgPath}10_r.png`) 右
        |  
        a(href= `${imgPath}10_all.png`) 熟語
      li
        | 11 
        a(href= `${imgPath}11_l.png`) 左
        |  
        a(href= `${imgPath}11_r.png`) 右
        |  
        a(href= `${imgPath}11_all.png`) 熟語
      li
        | 12 
        a(href= `${imgPath}12_l.png`) 左
        |  
        a(href= `${imgPath}12_r.png`) 右
        |  
        a(href= `${imgPath}12_all.png`) 熟語
      li
        | 13 
        a(href= `${imgPath}13_l.png`) 左
        |  
        a(href= `${imgPath}13_r.png`) 右
        |  
        a(href= `${imgPath}13_all.png`) 熟語
      li
        | 14 
        a(href= `${imgPath}14_l.png`) 左
        |  
        a(href= `${imgPath}14_r.png`) 右
        |  
        a(href= `${imgPath}14_all.png`) 熟語
      li
        | 15 
        a(href= `${imgPath}15_l.png`) 左
        |  
        a(href= `${imgPath}15_r.png`) 右
        |  
        a(href= `${imgPath}15_all.png`) 熟語
    h5 三字熟語
    ul
      li
        | 16 
        a(href= `${imgPath}16_l.png`) 左
        |  
        a(href= `${imgPath}16_r.png`) 右
        |  
        a(href= `${imgPath}16_all.png`) 熟語
      li
        | 17 
        a(href= `${imgPath}17_l.png`) 左
        |  
        a(href= `${imgPath}17_r.png`) 右
        |  
        a(href= `${imgPath}17_all.png`) 熟語
      li
        | 18 
        a(href= `${imgPath}18_l.png`) 左
        |  
        a(href= `${imgPath}18_r.png`) 右
        |  
        a(href= `${imgPath}18_all.png`) 熟語
      li
        | 19 
        a(href= `${imgPath}19_l.png`) 左
        |  
        a(href= `${imgPath}19_r.png`) 右
        |  
        a(href= `${imgPath}19_all.png`) 熟語
    h5 四字熟語
    ul
      li
        | 20 
        a(href= `${imgPath}20_l.png`) 左
        |  
        a(href= `${imgPath}20_r.png`) 右
        |  
        a(href= `${imgPath}20_all.png`) 熟語
      li
        | 21 
        a(href= `${imgPath}21_l.png`) 左
        |  
        a(href= `${imgPath}21_r.png`) 右
        |  
        a(href= `${imgPath}21_all.png`) 熟語
      li
        | 22 
        a(href= `${imgPath}22_l.png`) 左
        |  
        a(href= `${imgPath}22_r.png`) 右
        |  
        a(href= `${imgPath}22_all.png`) 熟語
    a(href="l/") 左の人メニュー
    br
    img(src= `${imgPath}qr_l.png`)
    br
    a(href="r/") 右の人メニュー
    br
    img(src= `${imgPath}qr_r.png`)
