include /_mixin/_navigation-link
include /_mixin/_heading
include /_mixin/_bib
include /_mixin/_mathjax
include /_mixin/_markdown

block config-block
  - path = pugPath.replace(/[^\/]+.pug$/, '')
  - rootPath = path.replace(/(.+?)[\/]/g, '../')
  - imgPath = `${rootPath}img/${path}`
  - dataPath = `${rootPath}data/${path}`
  - title = page_name ? [page_name, settings.site_name].join(' | ') : settings.site_name
  - description = description || settings.description
  - keywords = keywords || settings.keywords
  - url = url || settings.url

doctype html
html(lang="ja")
  head
    meta(charset="utf-8")
    // meta
    title
      block title
        = title
    if description
      meta(name="description", content= description)
    if keywords && keywords.length
      meta(name="keywords", content= keywords.join ? keywords.join(',') : keywords)
    if settings.favicon_url
      link(rel="shortcut icon", href= settings.favicon_url, type="image/vnd.microsoft.icon")
      link(rel="icon", href= settings.favicon_url, type="image/vnd.microsoft.icon")

    //- IEで「互換モード」で表示されるのを防ぐための指定
    meta(http-equiv="X-UA-Compatible", content="IE=Edge")
      
    // smartphone meta
    meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no")
    if settings.webclipicon_url
      meta(name="apple-mobile-web-app-capable", content='yes')
      meta(name="apple-mobile-web-app-status-bar-style", content= settings.ios_status_bar || 'default')
      link(rel="apple-touch-icon", href=webclipicon_url)

    // ogp
    if settings.facebook_app_id
      meta(property="fb:app_id", content= settings.facebook_app_id)
    if url
      if path === '/'
        meta(property="og:url", content= `${url}`)
      else
        meta(property="og:url", content= `${url}${path}`)
    if settings.ogp_image_url
      meta(property="og:image", content= settings.ogp_image_url)
    if settings.ogp_image_width
      meta(property="og:image:width", content= settings.ogp_image_width)
    if settings.ogp_image_height
      meta(property="og:image:height", content= settings.ogp_image_height)
    meta(property="og:type", content= settings.ogp_type || "website")
    meta(property="og:title", content= title)
    meta(property="og:site_name", content= settings.site_name)
    meta(property="og:description", content= description)
    meta(property="og:locale", content=ogp_locale || "ja_JP")

    // twitter card
    meta(property="twitter:card", content= (settings.ogp_image_url ? 'summary_large_image' : 'summary'))
    meta(property="twitter:title", content= title)
    meta(property="twitter:description", content= description)
    if settings.ogp_image_url
      meta(property="twitter:image", content= settings.ogp_image_url)
    if twitter_card_owner
      meta(property="twitter:site", content= settings.twitter_card_owner)
      meta(property="twitter:creator", content= settings.twitter_card_owner)

    if url
      // canonical url
      //- このページをはてぶ・シェアする際、使われるべきURLを明示する指定
      //- wwwやhttps、getパラメータなど、微妙に違うURLでアクセスされても、使われるURLをひとつに絞れる
      if path === '/'
        link(rel="canonical" href=`${url}`)
      else
        link(rel="canonical" href=`${url}${path}`)

    script(src= rootPath + 'js/ua-switch.js')

    // stylesheet
    block stylesheet-block
      link(rel="stylesheet", href= rootPath + 'css/material.min.css')
      link(rel='stylesheet', href='https://fonts.googleapis.com/icon?family=Material+Icons')
      link(rel='stylesheet', href= rootPath + 'css/materialdesignicons.min.css')
      link(rel="stylesheet", href= rootPath + 'css/style.css')

  body(data-path= path, data-category= category)
    // 岩淵勇樹のホームページへようこそ！
    //- appId指定を忘れないように
    include /_partial/fb-sdk.html

    .wrapper
      .mdl-layout.mdl-js-layout.mdl-layout--fixed-header
        block header
          header.mdl-layout__header
            .mdl-layout__header-row
              //- Title
              span.mdl-layout-title
                = title
              //- Add spacer, to align navigation to the right
              .mdl-layout-spacer
              //- Navigation. We hide it in small screens.
              block relation-link
                if relationArr
                  nav.mdl-navigation.mdl-layout--large-screen-only
                    each relation in relationArr
                      +navigation-link(relation)

        block drawer
          .mdl-layout__drawer
            span.mdl-layout-title
              | メニュー
            nav.mdl-navigation
              +navigation-link({
                title: 'ホーム',
                href: `${rootPath}`,
              })
              +navigation-link({
                title: 'About me',
                href: `${rootPath}person/`,
              })
              +navigation-link({
                title: '作品',
                href: `${rootPath}works/`,
              })
              +navigation-link({
                title: '発表文献',
                href: `${rootPath}publication/`,
              })
              +navigation-link({
                title: '解説記事',
                href: `${rootPath}documents/`,
              })
              .list-share.mdl-textfield--align-right
                .item-share.facebook
                  .fb-like(data-href= url, data-layout='box_count', data-action='like', data-size='small', data-show-faces='false', data-share='true')
                .item-share.twitter
                  a.twitter-share-button(href="https://twitter.com/share", data-lang="ja", data-url= url) ツイート
                  script.
                    !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
                .item-share.line
                  span
                    script(type='text/javascript', src='//media.line.me/js/line-button.js?v=20140411')
                    script(type='text/javascript')
                      | new media_line_me.LineButton({"pc":false,"lang":"ja","type":"a","text": "#{title}","withUrl":true});
                .item-share.gplus
                  .g-plusone(data-size='medium')

        main.mdl-layout__content
          block content-block

        block footer
          footer
            a(href= rootPath) Home

    // javascript
    block javascript-block
      script(src= rootPath + 'js/lib/jquery.min.js')
      script(src= rootPath + 'js/lib/lodash.min.js')
      script(src= rootPath + 'js/lib/material.min.js')
      script(src= rootPath + 'js/script.js')

    include /_partial/gplus-platform.html

    //- トラッキングID指定を忘れないように
    include /_partial/ga.html
