extends ../_layout/_default-layout

append config-block
  - pageId = 'works--temp'
  - title = ttl
  - rootPath = '../../'
  - path = 'works/'
  - imgPath = `${rootPath}img/${path}`
  - worksPath = '../'

//- append stylesheet-block

//- append javascript-block

block content-block
  h3.btc-heading(data-heading-level="3")
    = title

  .inner-block
    if(ext === 'png' || ext === 'gif' || ext === 'jpg')
      .image
        img(src= `${worksPath}resources/${name}.${ext}`)
    else if(ext === 'mp3')
      .image
        img(src= `${imgPath}thumb/${name}.${extThumb}`)
      .audio
        audio(src= `${worksPath}resources/${name}.${ext}`, controls)

    .desc
      != desc
