- imgPath = '../../../img/project/hanjukugo/'

doctype html
html(lang="ja")
  head
    meta(charset="utf-8")
    title 半熟語
  body
    h1 半熟語
    p
      img(alt="半熟語ロゴ", src= `${imgPath}logo.png`)
    | 左の人メニュー
    br
    p
      a(href="../readme/") 概要
    h2 二字熟語
    ul
      li
        a(href= `${imgPath}01_l.png`) 01
      li
        a(href= `${imgPath}02_l.png`) 02
      li
        a(href= `${imgPath}03_l.png`) 03
      li
        a(href= `${imgPath}04_l.png`) 04
      li
        a(href= `${imgPath}05_l.png`) 05
      li
        a(href= `${imgPath}06_l.png`) 06
      li
        a(href= `${imgPath}07_l.png`) 07
      li
        a(href= `${imgPath}08_l.png`) 08
      li
        a(href= `${imgPath}09_l.png`) 09
      li
        a(href= `${imgPath}10_l.png`) 10
      li
        a(href= `${imgPath}11_l.png`) 11
      li
        a(href= `${imgPath}12_l.png`) 12
      li
        a(href= `${imgPath}13_l.png`) 13
      li
        a(href= `${imgPath}14_l.png`) 14
      li
        a(href= `${imgPath}15_l.png`) 15
    h2 三字熟語
    ul
      li
        a(href= `${imgPath}16_l.png`) 16
      li
        a(href= `${imgPath}17_l.png`) 17
      li
        a(href= `${imgPath}18_l.png`) 18
      li
        a(href= `${imgPath}19_l.png`) 19
    h2 四字熟語
    ul
      li
        a(href= `${imgPath}20_l.png`) 20
      li
        a(href= `${imgPath}21_l.png`) 21
      li
        a(href= `${imgPath}22_l.png`) 22
    br
    a(href="../r/") 右の人メニュー
    br
    img(src= `${imgPath}qr_r.png`)
