extends /_layout/_default-layout

prepend config-block
  - page_name = meta.title

append config-block
  - rootPath = '../../'
  - path = 'works/'
  - imgPath = `${rootPath}img/${path}`
  - dataPath = `${rootPath}data/${path}`
  - worksPath = '../'

block content-block
  +page-title

  .inner-block
    if meta.image
      .image
        img(src= `${imgPath}resources/${meta.image}`)
    if meta.audio
      .audio
        audio(src= `${dataPath}resources/${meta.audio}`, controls)
    if meta.youtube
      .video
        = `${meta.youtube}`

    .desc
      != body
