extends /_layout/_default-layout

append config-block
  - path = '/'
  - rootPath = ''
  - imgPath = 'img/'
  - dataPath = 'data/'

block content-block
  .mdl-grid.mdl-grid--no-spacing
    .mdl-cell--12-col
      +site-title
        span(lang="ja")
        ruby
          mixin ruby(kanji, hiragana)
            = kanji
            rp (
            rt= hiragana
            rp )

          +ruby('岩淵', 'いわぶち')
          +ruby('勇樹', 'ゆうき')

        |  

        span(lang="en")
          | (IWABUCHI Yu(u)ki)

      //- p
        a(href='index-e.html') English version

      section.section-icon#icon
        +section-title
          | Icon

        mixin icon(src, title, href)
          a.icon(href= href)
            img(width='128', height='128', src= rootPath + 'img/icon/' + src, alt= title, title= title)

        .inner-block
          +icon('myavg.jpg', '平均自画像')
          +icon('chinese-character.png', 'Butchi')
          +icon('music.png', '♪', 'documents/music/')
          +icon('butchi-number.png', '平面的2進数（物智数）', `${rootPath}documents/butchi-number/`)
          +icon('bit-reversal-plane.png', 'ビット逆転平面', 'http://ci.nii.ac.jp/naid/110006380829/')
          +icon('dragon-tapestry--red.png', 'ドラゴン曲線のタペストリー', `${rootPath}documents/fractal/`)
          +icon('bitwise-xor.png', 'ビット毎の排他的論理和', 'http://reference.wolfram.com/mathematica/ref/BitXor.html')
          +icon('bion.png', 'bion (両対数極座標)', 'documents/design/')
          +icon('gray-code-counter.gif', 'グレイコードカウンタ', 'http://www.youtube.com/watch?v=v64F7YaY27U')
          +icon('fractal.png', 'フラクタル', `${rootPath}documents/fractal`)
          +icon('analytic-signal--harmonica.png', '解析信号（ハーモニカ）', `${rootPath}documents/analytic-signal/`)
          +icon('analytic-signal--whistle.png', '解析信号（口笛）', `${rootPath}documents/analytic-signal/`)
          +icon('regular-icosahedron.png', '正20面体')
          +icon('delta.png', 'DeltaΔPulse', 'documents/design/')
          +icon('star.png', 'star', 'documents/design/')
          +icon('notoryu.png', 'ノトリュー', 'documents/design/')
          +icon('hanjukugo.png', '半熟語', `${rootPath}project/hanjukugo/`)
          +icon('nandemo-magic.png', 'なんでも魔法。', `${rootPath}project/nandemo-magic/`)

      section.section-feed#feed
        +section-title
          | Feed

        .inner-block
          .butchi-feed

      section.section-news#news
        +section-title
          | News

        .inner-block
          .btc-news

      section.section-bibliogfraphy#bibliography
        +section-title
          | 略歴

        .inner-block
          ul
            li
              time(datetime="1984") 1984年
              | 福井県大野市生まれ
            li
              time(datetime="2007") 2007年
              | 金沢大学 工学部 情報システム工学科 卒業
            li
              time(datetime="2009") 2009年
              | 金沢大学大学院 自然科学研究科 電子情報工学専攻 博士前期課程修了
            li
              time(datetime="2012") 2012年
              | 金沢大学大学院 自然科学研究科 電子情報科学専攻 博士後期課程修了・博士（工学） 
            li
              time(datetime="2012-04") 2012年4月
              | ～ 
              a(href="http://www.kayac.com/", target="_blank")
                | 面白法人カヤック

          a(href=`${rootPath}person/profile/`) →略さない歴
          br
          a(href=`${rootPath}person/creed/`) →者是
          br
          a(href=`${rootPath}person/people/`) →関連人物

          section#research-theme
            +heading(4)
              | 研究テーマ
            p 数学的特性に基づくインターフェースや、美しい画像表現のためのハードウェア、効率的な処理を行う演算器など。
            p 数学モデルの集積回路・インタラクティブシステムなどへの応用に関する研究に従事。

      section.section-document#document
        +section-title
          | 諸々

        .inner-block
          section
            +heading(4)
              | 作品

            ul
              li
                a(href= rootPath + 'documents/music/') 音楽
              li
                a(href= rootPath + 'documents/poem/') 詩
              li
                a(href= rootPath + 'documents/character/') キャラクター
              li
                a(href= rootPath + 'documents/design/') デザイン

          section
            +heading(4)
              | 研究

            ul
              li
                a(href=`${rootPath}documents/butchi-number/`) 物智数
              li
                a(href=`${rootPath}documents/analytic-signal/`) 解析信号ギャラリー
              li
                a(href= rootPath + 'documents/fractal/') フラクタル図形一覧

          section
            +heading(4)
              | 執筆

            ul
              li
                a(href=`${rootPath}documents/symbol/`) 記号辞典〜コンピューターにおける記号の意味と使われ方〜

          section
            +heading(4)
              | プログラム

            ul
              li
                a(href=`${rootPath}documents/graphicalpad/`) GraphiCalPad
              li
                a(href=`${rootPath}project/webclappad/`) WebClapPad
              li
                a(href=`${rootPath}project/nandemo-magic/`) なんでも魔法。
              li
                a(href=`${rootPath}project/po3pokemon/`) ポポポポケモン！
              li
                a(href=`https://butchi.github.io/secondly-happy/`) 秒刊ハッピー

      section.section-publication#publication
        +section-title
          | 発表文献

        .inner-block
          section
            +heading(4)
              | 国際発表
            ul
              li
                +bib('butchi-number--2010-06--iwabuchi-yuki')

          section
            +heading(4)
              | 国内発表
            ul
              li
                +bib('icd--2007-07--iwabuchi-yuki')
              li
                +bib('ec--2008--iwabuchi-yuki')
              li
                +bib('wiss--2008--iwabuchi-yuki')
              li
                +bib('ite--2008--maeda-yui')
              li
                +bib('mus-85--iwabuchi-yuki')
              li
                +bib('interaction--2011--iwabuchi-yuki')
              li
                +bib('art-science--2011--iwabuchi-yuki')
              li
                +bib('lams--2013--iwabuchi-yuki')

          section
            +heading(4)
              | 学内発表・講義関連
            ul
              li
                | 自主課題研究「偏角関数を用いた曲線の研究」(2006)
                .appendix
                  a(href=`${dataPath}org/ku/b3-research/b3-research.pdf`) [レポート(PDF)]
                  a(href=`${dataPath}org/ku/b3-research/b3-research.ppt`) [発表スライド(.ppt)]
              li
                | 卒業論文「2進数の平面的表現に関する考察」(2007)
                .appendix
                  a(href=`${rootPath}org/ku/b-thesis/`) [詳細ページ]
              li
                | カオスとその応用「研究紹介 ～フラクタルと絡めて～」(2007)
                .appendix
                  a(href=`${dataPath}org/ku/chaos/chaotic-dynamics-and-its-applications.ppt`) [発表スライド(.ppt)]
              li
                | 修士論文「閉曲線図形を利用した音色生成法」(2009)
                .appendix
                  a(href=`${dataPath}org/ku/m-thesis.ppt`) [発表スライド(.ppt)]
              li
                | 博士論文「図形と音声の変換手法とその応用に関する研究」(2012)
                .appendix
                  a(href=`${rootPath}org/ku/d-thesis/`) [詳細ページ]
              li
                a(href=`${rootPath}org/ku/reading-seminar/`) 論文輪講
              li
                a(href=`${rootPath}org/ku/tte/`) テクノロジトレンド工学
              li
                a(href=`${rootPath}org/ku/cubic-puzzle/`) キュービックパズルの迷宮
              li
                | 記数法のさまざまな拡張～2進数からButchi数まで～（2012年）
                .appendix
                  a(href='documents/yugen20120826') [発表スライド(HTMLページ)]

      section.section-institution#institution
        +section-title
          | 所属学会

        .inner-block
          ul
            li
              a(href="http://www.ieice.or.jp/", target="_blank") 電子情報通信学会(IEICE)
      
      section.section-link#link
        +section-title
          | リンク

        .inner-block
          section
            +heading(4)
              | 所属
            ul
              li
                a(href="http://www.kayac.com/", target="_blank")
                  | 面白法人カヤック
              li
                a(href="http://wbawakate.jp/", target="_blank")
                  | 全脳アーキテクチャ若手の会
              li
                a(href="http://pzkn.seesaa.net/", target="_blank")
                  | パズル懇話会
              li
                a(href="http://www.yugen.org/", target="_blank")
                  | 湧源クラブ
              li
                a(href="http://www.geocities.jp/nanigashiitai/", target="_blank")
                  | アカペラグループ「某隊」

          section
            +heading(5)
              | 過去の所属
            ul
              li
                a(href="http://www.kanazawa-u.ac.jp/", target="_blank")
                  | 金沢大学
              li
                a(href="http://www.merl.jp/", target="_blank")
                  | 金沢大学 工学部 情報システム工学科 集積回路工学研究室
              li
                a(href="http://fdict.el.kanazawa-u.ac.jp/", target="_blank")
                  | 金沢大学 FD・ICT教育推進室
              li
                a(href="http://melomelo.main.jp/", target="_blank")
                  | 金沢大学アカペラサークル “MeloMelo”
              li
                a(href="http://www.geocities.jp/kinndai_art/", target="_blank")
                  | 金沢大学美術部

          section.sec-link
            +heading(5)
              | 関連リンク
            ul
              li
                i.mdi.mdi-facebook-box
                |  
                a(href="https://www.facebook.com/yuuki.iwabuchi.9", target="_blank")
                  | 岩淵 勇樹
              li
                i.mdi.mdi-twitter-box
                |  
                a(href="https://twitter.com/butchi_y", target="_blank")
                  | butchi_y （公式アカウント）
              li
                i.mdi.mdi-twitter-box
                |  
                a(href="https://twitter.com/butchi_x", target="_blank")
                  | butchi_x（半公式アカウント）
              li
                i.mdi.mdi-twitter-box
                |  
                a(href="https://twitter.com/zougoroku", target="_blank")
                  | zougoroku （造語録）
              li
                i.mdi.mdi-twitter-box
                |  
                a(href="https://twitter.com/nandemo_magic", target="_blank")
                  | nandemo_magic （なんでも魔法BOT）
              li
                i.mdi.mdi-tumblr
                |  
                a(href="http://butchiy.tumblr.com/", target="_blank")
                  | butchiy
              li
                i.material-icons web
                |  
                a(href="http://qiita.com/butchi_y", target="_blank")
                  | Qiita (ID: butchi_y)
              li
                i.material-icons web
                |  
                a(href="http://butchi.blog42.fc2.com/", target="_blank")
                  | ブッチブログ
              li
                i.material-icons web
                |  
                a(href="http://mixi.jp/show_profile.pl?id=3213231", target="_blank")
                  | mixi (ID:3213231)
              li
                i.material-icons web
                |  
                a(href="http://www.lastfm.jp/user/butchi_y", target="_blank")
                  | Last.fm (id=butchi_y)
              li
                i.material-icons web
                |  
                a(href="http://www.pixiv.net/member.php?id=119", target="_blank")
                  | pixiv (id=119)
              li
                i.material-icons web
                |  
                a(href="http://geek-house-yokohama.webnode.jp/", target="_blank")
                  | ギークハウス横浜
              li
                i.material-icons web
                |  
                a(href="https://www.facebook.com/mathcafejapan/", target="_blank")
                  | 数学カフェ
              li
                i.material-icons web
                |  
                a(href=`https://twitter.com/hashtag/${encodeURIComponent('日曜数学会')}`, target="_blank")
                  | 日曜数学会
              li
                i.material-icons web
                |  
                a(href="http://maths4pg.connpass.com/", target="_blank")
                  | プログラマのための数学勉強会
              li
                i.material-icons web
                |  
                a(href= `https://twitter.com/search?q=${encodeURIComponent('伝道師になろう')}`, target="_blank")
                  | 伝道師になろう

              //- li
                a(href="http://merl.ec.t.kanazawa-u.ac.jp/diary_public/index.php?butchi", target="_blank")
                  | 研究室作業日誌

      .inner-block
        .e-mail
          p.address
            i.material-icons email
            | e-mail:
            | k38647
            span.delete-me (deleteme:スパム対策)
            | @gmail.com
          p.attention (テキストコピー時注意↑)

block footer
