extends /_layout/_default-layout

mixin audio-list(category)
  each audio in audioArr
    if audio.category === category
      li.item-as
        h5= audio.name
        .btc-analytic-signal-viewer(data-src= `${dataPath}${audio.filename}.mp3`, style= `background-image: url(${imgPath}${audio.filename}.png)`)
          .cover
          .btn-play
            i.mdi.mdi-play-circle

prepend javascript-block
  +mathjax

append config-block
  - title = '解析信号'
  -
    var audioArr = [
      {
        category: 'プリミティブな音',
        name: '正弦波',
        filename: 'sine',
      },
      {
        category: 'プリミティブな音',
        name: '三角波',
        filename: 'trianglar',
      },
      {
        category: 'プリミティブな音',
        name: 'のこぎり波',
        filename: 'sawlike',
      },
      {
        category: 'プリミティブな音',
        name: '矩形波',
        filename: 'rectangle',
      },
      // {
      //   category: 'プリミティブな音',
      //   name: '正弦波全波整流波',
      //   filename: 'zenpa',
      // },
      // {
      //   category: 'プリミティブな音',
      //   name: '正弦波半波整流波',
      //   filename: 'hanpa',
      // },
      {
        category: 'プリミティブな音',
        name: 'Sinc関数',
        filename: 'sinc',
      },
      {
        category: 'MIDI音',
        name: '005 El. Piano',
        filename: 'midi-005',
      },
      {
        category: 'MIDI音',
        name: '023 Harmonica',
        filename: 'midi-023',
      },
      {
        category: 'MIDI音',
        name: '025 Nylon Guitar',
        filename: 'midi-025',
      },
      {
        category: 'MIDI音',
        name: '027 Jazz Guitar',
        filename: 'midi-027',
      },
      {
        category: 'MIDI音',
        name: '041 Violin',
        filename: 'midi-041',
      },
      {
        category: 'MIDI音',
        name: '047 OrchestraHarp',
        filename: 'midi-047',
      },
      {
        category: 'MIDI音',
        name: '049 Strings 1',
        filename: 'midi-049',
      },
      {
        category: 'MIDI音',
        name: '053 Choir Aahs',
        filename: 'midi-053',
      },
      {
        category: 'MIDI音',
        name: '081 Square Lead',
        filename: 'midi-081',
      },
      {
        category: 'MIDI音',
        name: '082 Saw Lead',
        filename: 'midi-082',
      },
      {
        category: '楽器音',
        name: 'チェレスタ',
        filename: 'cheresta',
      },
      {
        category: '楽器音',
        name: 'ギター',
        filename: 'guitar',
      },
      {
        category: '楽器音',
        name: 'ギター（高）',
        filename: 'guitar-high',
      },
      {
        category: '楽器音',
        name: 'ハーモニカ',
        filename: 'harmonika',
      },
      {
        category: '楽器音',
        name: 'ハーモニカ（高）',
        filename: 'harmonika-high',
      },
      {
        category: '楽器音',
        name: 'ピアノ',
        filename: 'piano',
      },
      {
        category: '楽器音',
        name: 'ピアノ（高）',
        filename: 'piano-high',
      },
      {
        category: '楽器音',
        name: 'リコーダー',
        filename: 'riko-da-',
      },
      {
        category: '楽器音',
        name: 'リコーダー（高）',
        filename: 'riko-da-high',
      },
      {
        category: '楽器音',
        name: '三味線',
        filename: 'shamisen',
      },
      {
        category: '楽器音',
        name: '三味線（高）',
        filename: 'shamisen-high',
      },
      {
        category: '楽器音',
        name: 'トランペット',
        filename: 'toranpetto',
      },
      {
        category: '楽器音',
        name: 'トランペット（高）',
        filename: 'toranpetto-high',
      },
      {
        category: '楽器音',
        name: 'ヴァイオリン',
        filename: 'violin',
      },
      {
        category: '楽器音',
        name: 'ヴァイオリン（高）',
        filename: 'violin-high',
      }
    ]

block content-block
  +page-title

  .inner-block
    +heading(4)
      | 解析信号ギャラリー

    +heading(5)
      | 概要

    p
      | 音声信号の正周波数成分を2倍、負周波数成分を0倍にした信号を解析信号と呼びます。
      | また、音声信号の正周波数成分を $-i$ 倍、負周波数成分を $i$ 倍する変換をヒルベルト変換と呼びます（ $i$ は虚数単位）。これは、解析信号の虚部に等しくなります。

    p
      a(href="http://www.mnc.toho-u.ac.jp/v-lab/yobology/Hilbert_Transform/Hilbert_transform.htm", target="_blank") 参考サイト

    p 当ページでは、さまざまな音色の解析信号の、時間軸を潰して複素平面上に投影した画像を載せています。

    p
      | 音色の名前にリンクしているWAVファイルは、Lチャンネルが原信号、Rチャンネルが原信号をヒルベルト変換した信号となっており、フリーソフトの
      a(href="http://www.vector.co.jp/soft/win95/art/se085448.html", target="_blank") WaveSpectra
      | などのソフトで「リサジュー」で両チャンネルの波形をプロットすると解析信号を複素平面上に投影した信号を見ることができます。

    p
      | 筆者は、解析信号を利用したシンセサイザを開発しています。最後の
      a(href="#references") 参考文献
      | のリンクからデモを利用できます。

    section
      +heading(4)
        | プリミティブな音

      ul.list-as
        +audio-list('プリミティブな音')

    section
      +heading(4)
        | MIDI音

      p
        | MIDI音はMicrosoft GS Wavetable SW Synthのものを利用しました。

      ul.list-as
        +audio-list('MIDI音')

    section
      +heading(4)
        | 楽器音

      p
        | 桂田祐史氏が提供していただいた音声ファイルを用いました。
        | 桂田先生と松山周五郎氏に感謝します。

      ul.list-as
        +audio-list('楽器音')

    +heading(4)
      | 参考文献

    a(name="references")
    ol
      li
        +bib('ec--2008--iwabuchi-yuki')
      li
        +bib('mus-85--iwabuchi-yuki')
      li
        +bib('wiss--2008--iwabuchi-yuki')
      li
        +bib('interaction--2011--iwabuchi-yuki')
      li
        +bib('art-science--2011--iwabuchi-yuki')
      li
        +bib('d-thesis--iwabuchi-yuki')
