extends /_layout/_default-layout

append config-block
  - worksPath = '../../'

mixin work(key)
  - const work = works[key];
  .work
    a(href=`${worksPath}${key}`)
      .card.mdl-card.mdl-shadow--2dp(style=`
        background-image: url(${rootPath}img/works/thumb/${work.thumb});
      `)

        .mdl-card__title.mdl-card--expand
        .mdl-card__actions
          .title
            span= work.title

block content-block
  +page-title

  .inner-block

    section
      h2
        | 作品
      .list
        -
          const workKeyArr = Object.keys(works).filter((key) => (
            works[key].tag.includes('writing')
          ))
        each key in workKeyArr
          .item
            +work(key)
