extends /_layout/_default-layout

prepend config-block
  - const hasTag = (work, name) => work.tag.split(',').includes(name);

append config-block
  - category = 'works-genre'
  - worksPath = '../'

mixin work-item(work)
  .item
    .work
      a(href=`${worksPath}${work.id}/`)
        .card.mdl-card.mdl-shadow--2dp(style=`
          background-image: url(${rootPath}img/works/thumb/${work.thumb});`)
          .mdl-card__title.mdl-card--expand
          .mdl-card__actions
            .title
              span= work.title

block content-block
  +page-title

  .inner-block

    section
      h2
        | Web
      .list
        -
          workArr = _.values(works).filter((work) => (
            work.genreWeb
          ))
            .filter((work) => (
              !hasTag(work, 'newyear')
            ))
          ;
        each work in workArr
          +work-item(work)

    section
      h2
        | 年賀サイト
      .list
        -
          workArr = _.values(works).filter((work) => (
            work.genreWeb
          ))
            .filter((work) => hasTag(work, 'newyear'))
          ;
        each work in workArr
          +work-item(work)

