extends /_layout/_default-layout

append config-block
  - title = '博士論文'

block content-block
  +page-title
    | 岩淵勇樹 博士論文

  .inner-block
    section.sec-address
      a#address
      +heading(4)
        | 所在

      p
        | 新: 
        a(href='http://butchi.jp/org/ku/d-thesis/') http://butchi.jp/org/ku/d-thesis/
      p
        | 旧: 
        a(href='http://butchi.jp/documents/d-thesis/') http://butchi.jp/documents/d-thesis/

    section.sec-body
      a#body
      +heading(4)
        | 論文

      ul
        li
          a(href= `${dataPath}document/d-thesis_20120327.pdf`) 論文（PDF）
          a(href= `${dataPath}document/d-thesis_20120327.zip`) （ZIP圧縮）
        li
          a(href= `${dataPath}document/abstract_20120110.pdf`) 論文要旨（PDF）
          a(href= `${dataPath}document/abstract_20120110.zip`) （ZIP圧縮）

    section.sec-program
      a#program
      +heading(4)
        | プログラム

      ul
        li
          a(href= `${dataPath}program/soundView_export2.nb`)
            | Waveファイルの解析信号をプロットするプログラム（Mathematica 8.0）
        li
          a(href= `${dataPath}program/dir_wind.m`)
            | Waveファイルから解析信号化したWaveファイルを出力するプログラム（MATLAB R2009a）
        li
          a(href= `${dataPath}program/analytic_signal.maxpat`)
            | リアルタイムに解析信号をプロットするプログラム（Max 5）
        li
          a(href= `${dataPath}program/ExtendedAnalyticSignal.nb`)
            | 拡張した解析信号をプロットするプログラム（Mathematica 8.0）
        li
          a(href= `${dataPath}program/RandomAnalyticSignal_Plot2.nb`)
            | ランダムな解析信号から曲線の特徴量を求めるプログラム（Mathematica 8.0）
        li
          a(href= `${dataPath}program/AnalyticSignalSynthesizer.nb`)
            | Mathematica版CloSynth（Mathematica 8.0）
        li
          a(href= `${dataPath}program/synthesizer01.fla`)
            | 簡易シンセサイザ（Flash CS4／ActionScript 3.0）
        li
          a(href= `${dataPath}program/analytic_signal_synthesizer10.fla`)
            | CloSynth for PC（Flash CS4／ActionScript 3.0）
          |  →
          a(href='http://butchi.jp/documents/mus85demo')
            | デモ
        li
          a(href= `${dataPath}program/analytic_signal_synthesizer11.fla`)
            | CloSynth for PC（Scanned Synthesis拡張版）（Flash CS4／ActionScript 3.0）
          |  →
          a(href= `${dataPath}http://butchi.jp/documents/closynth_scanned_synthesis`)
            | デモ
        li
          a(href= `${dataPath}program/closynth03.fla`)
            | CloSynth for Android（Flash CS4／AIR for Android）
          |  →
          a(href='http://market.android.com/search?q=pname:air.jp.butchi.closynth')
            | Androidマーケット

    section.sec-program
      +heading(4)
        | 関連ページ

      ul
        li
          a(href=`${rootPath}documents/analytic-signal/`)
            | 解析信号ギャラリー

    section.sec-reference
      +heading(4)
        | 参考文献
      ol
        li
          +bib('ec--2008--iwabuchi-yuki')
        li
          +bib('wiss--2008--iwabuchi-yuki')
        li
          +bib('mus-85--iwabuchi-yuki')
        li
          +bib('interaction--2011--iwabuchi-yuki')
        li
          +bib('art-science--2011--iwabuchi-yuki')
