mixin md(path)
  - const mddoc = require('read-file').sync(`src/${path}`, 'utf8');
  -
    const mddocHtml = _.template(unescape(mddoc), {
      interpolate: /\$\$\$([\s\S]+?)\$\$\$/g, // Markdownコマンド内でもテンプレートを書けるように "$$$ hoge $$$" のような記法を採用
    })({
      dataPath,
      imgPath,
      imageLink: (opts) => {
        const { src, alt } = opts;
        return `<span class="image-link"><img class="elm-img" src="${imgPath}${src}" alt="${alt}"></span>`;
      },
    });

  article!= markdown.render(mddocHtml)
