extends /_layout/_default-layout

append config-block
  - pageId = 'works--tag'
  - title = tagName
  - rootPath = '../../../'
  //- - path = 'works/tag/'
  - imgPath = `${rootPath}img/works/`
  - worksPath = tagName === 'works' ? './' : '../../'

//- append stylesheet-block

//- append javascript-block

block content-block
  h3.btc-heading(data-heading-level="3")
    = title

  .inner-block
    ul.list
      each item in workArr
        li.item
          a(href= `${rootPath}/works/${item.name}`)
            .card.mdl-card.mdl-shadow--2dp(style= `
              background-image: url(${imgPath}thumb/${item.name}.${item.extThumb});
            `)

              .mdl-card__title.mdl-card--expand
              .mdl-card__actions
                .title
                  span= item.ttl
